<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

	<context:component-scan base-package="org.resthub.rpc.jpa" />

	<jpa:repositories base-package="org.resthub.rpc.jpa.repository"
		entity-manager-factory-ref="entityManagerFactory"
		transaction-manager-ref="transactionManager" />
		
	<bean id="hibernateSerializerFactory" class="org.resthub.rpc.serializer.HibernateSerializerFactory" />
		
	<bean id="personServiceEndpoint" 
	   		class="org.resthub.rpc.HessianEndpoint">
	   <constructor-arg index="0" ref="personService"/>
	   <property name="connectionFactory" ref="connectionFactory" />
	   <property name="serializerFactory" ref="hibernateSerializerFactory" />
	</bean>
		
</beans>